AUTH_SECRET="your-secret" # Added by `npx auth`. Read more: https://cli.authjs.dev

AUTH_GOOGLE_ID=your-google-client-id-here
AUTH_GOOGLE_SECRET=your-google-client-secret-here
AUTH_APPLE_ID="com.myapp.webapp" # Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_APPLE_SECRET=your-apple-secret-here # Added by `npx auth`. Read more: https://cli.authjs.dev

AUTH_URL=http://localhost:3000
AUTH_TRUST_HOST=true
